:host {
  display: block;
}

#mp{
  &.show{
    display: block;
    height: calc(100vh - 4rem);
    height: calc(100svh - 4rem);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-style: inset;

  }
  &:not(.show){
    display: none;
  }
}
